# Java
backend/target/
*.class

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.iml

# Env
.env
*.local

# OS
.DS_Store

# Angular
frontend/.angular/
frontend/node_modules/
frontend/dist/

# Backend
backend/target/

# Environment / secrets
.env
backend/.env
frontend/.env

# Diseños
diseños/
